.card-holder {
    position: relative;
    display: block;
}

.left-image {
    position: absolute;
    margin-top: 20px;
}

.right-image {
    position: absolute;
    margin-top: 20px;
    margin-right: 8px;
}
